
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
}
.headerLogo {
    font-size: 24px;
    color:#F9faf8;
}
.link {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 40px;
    display: flex;
    justify-content: flex-end;
}

.headerRight {
    display: flex;
}

.heroBanner {
    padding-top: 50px;
    padding: 50px; 
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heroLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.heroRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.heroMainText {
    font-size: 48px;
    font-weight:bolder;
    color: #F9faf8;
}
.heroSubText {
    color: #F9faf8;
}

p {
    color: #F9faf8;
}

.signUp {
    border-radius: 5px;
    background-color: #3882F6;
    color:#F9faf8;
    width: 70px;
}




.infoHeader{
        color: #1f2937;
        font-size: 36px;
        font-weight: bolder;
    }
.row-items {
    display: flex;
    justify-content: space-around;
    
}

.card {
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quoteSection {
    background-color: #E5E7EB;
}

.CTA {
    background-color: #3882F6;
}

.InfoSection,
p {
    color: black;
}

.footer {
    background-color: #1F2937;
}

.card p {
    max-width: 80%;
    padding: 10px;
}