
h1 { color:#F9faf8;
}

h2 {
    font-size: 48px;
    font-weight:bolder;
    color: #F9faf8;
}

p {
    color: #F9faf8;
}

.button {
    color: #3882F6;
    background-color: #3882F6;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    height: 200px;
    justify-content: space-between;
}

.heroBanner {
    background-color: #1F2937;
    display: flex;
}

.headerLeft {
    display: flex;
    justify-content: flex-start;
}

.headerRight {
    display: flex;
    justify-content: flex-end;
}

.link {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 40px;
    display: flex;
    justify-content: flex-end;

}

.CTA {
    background-color: #3882F6;
}

.InfoSection,
p {
    color: black;
}